@(chatname: String, username: String)

@headerfooter(username){

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

    <div class="page-header">
        <h1>向导为您服务 </h1> <div align="right"><small > 您好 @username</small></div>
    </div>

	<!--
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    -->
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea> <!-- <button id="sendbutton" class="button" type="button"></button> -->
        </div>
    </div>
    
    <script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(chatname, username)"></script>
    
}
