@import messages.RoomMessage
@(conversationId: String, userId: String, another: AUser, historyMessages: List[RoomMessage])

@headerfooter(session.get("username")) {
<!--
<div id="chatRooms" class="container col-sm-1" style="top:105px;left:60px;width:20px">
  <a class="btn btn-info button" href="">用户1</a>
  <a class="btn btn-info button" href="">用户2</a>
  <a class="btn btn-info button" href="">用户3</a>

</div>
-->
<div class="container">
            <div class="content">

                <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
                <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
                <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
                <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

                <div class="page-header">
                    @if(another.`type`.equals("GUIDER")) {
                        <h1>@another.city_and_country 的
                    @another.name 向导为您服务 [<a id="states"></a>] </h1>
                    } else {
                        <h1>@another.name 向您咨询  <a id="states"></a> </h1>
                    }
                </div>
                <!--我的想法 想放在一行 不知道行不行
                                <div class="page-header">
                    @if(another.`type`.equals("GUIDER")) {
                        <h1>@another.city_and_country 的 @another.name 向导为您服务</h1>
                        <div align="right">
                        <small > 您好 @session().get("username")</small>
                    </div>
                </div>
                    } else {
                        <h1>@another.name 向您咨询 </h1>
                        <div align="right">
                        <small > 您好 @session().get("username")</small>
                    </div>
                </div>
                    }
                -->
          
          
          <!--
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    -->
                <div id="onChat" class="row">
                    <div class="span10" id="main">
                        <div id="messages">
                            <div id="msg-content">
                            @if(!historyMessages.isEmpty) {
                                @for(msg <- historyMessages.reverse) {
                                    <div class="message talk">
                                        <span>@msg.userName</span>
                                        <p>@Html(msg.message)</p>
                                    </div>
									}
                            }
                            </div>
                            <div id="msg-end" style="overflow: hidden"></div>
                        </div>


<div>
  </div>
						
						@if(userId.equals("5a045a17e4b05602646333dd")){
						<div id="iti-div" class="#" style="position:absolute;top:-20px;left:820px">
						  <h3 id="title-h3">定制行程单  <i><img src="http://www.wanzi.cc/app/statics/images/add-m.png"	 class="expandicon"></i></h3>
						  <div id="itis" >
						  <li>
							<div class="tripHeader">
							  <a href="http://tos.lushu.com/trip/share/YVwxn3R2LY9Kq9an"
								 target="_blank">
								<div class="coverIcon"><img src="http://tos.lushu.com/trip/share/YVwxn3R2LY9Kq9an/images/tos/tripView/tripIcon.png"	/>	</div>
								<div class="title">荷兰羊角村 <i><img src="http://www.wanzi.cc/app/statics/images/add-m.png"
								class="sendicon" /></i>
								</div>
							  </a>
							  <button class="date">2017.11.02 -11.10</button>
							</div>
						  </li>
						  <li>
							<div class="tripHeader">
							  <a href="http://tos.lushu.com/trip/share/4PBR75YJqKL0wLPo"
								 target="_blank">
								<div class="coverIcon"><img src="http://tos.lushu.com/trip/share/YVwxn3R2LY9Kq9an/images/tos/tripView/tripIcon.png"></div>
								<div class="title">
								  中国杭州西湖一日游
								  <i><img src="http://www.wanzi.cc/app/statics/images/add-m.png"
								  class="sendicon"></i>
								</div>
								</a>
								<button class="date" type="button">2017.10.01-10.02</button>
							</div>
						  </li>
						  </div>
						</div>
						}
                        <textarea id="talk"></textarea> <input class="btn" id="send" value="发送" type="button" onclick="sendMessage()">
                    </div>
                </div>

                <script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(conversationId, userId, another.id)"></script>
            </div>
        </div>
}
